<%= form_for @mug do |f| %>
<p>
  <%= f.label :company %>
  <%= f.text_field :company %>
</p>
  <p>
    <%= f.label :size %>
    <%= f.text_field :size %>
  </p>
  <p>
    <%= f.submit 'Add mug' %>
  </p>
<% end %>

<%= @mugs.each do |mug| %>
<ul>
  <li>
    <%= link_to "#{mug.company}", mug_path(mug) %>, <%= mug.size %>
  </li>
</ul>
<% end %>